.animation{
    display : flex;
    justify-content: space-between;
    width: 90%;
    padding: 3vh 0 4vh 3vw;

    @mixin cercle-animes {
        display: flex;
        align-items: center;
        justify-content: center;    
        width: 80px;
        height: 80px;
        border-radius: 50%;
        color: #222426;
        font-weight: bold;
        background-color: #3674ED;
        box-shadow: 5px 5px #CF59D3;
      }

    &__bloc {
        @include cercle-animes;
        animation: anim_bloc 2s ease-in-out infinite;    
    }

    &__bloc:nth-of-type(2) {
        animation-delay: 0.2s;
    }

    &__bloc:nth-of-type(3) {
        animation-delay: 0.4s;
    }

    &__bloc:nth-of-type(4) {
        animation-delay: 0.6s;
    }

    &__bloc:nth-of-type(5) {
        animation-delay: 0.8s;
    }

    @keyframes anim_bloc {
        0% {
            transform: translate(0, 0);
        }
    
        50% {
            transform: translate(0, 20px);
    
        }
    
        100% {
            transform: translate(0, 0);
    
        }
    }

}