/* ---------------- BACKGROUND */
$color__background-body : #222426;
$color__background-main : #F2F2F2;
$color__background-cours : #F2F2F2;
$color__background-header : #3674ED;
$color__background-barre : #CF59D3;
$color__background-footer : #222426;
$color__background-link : #CF59D3;
$color__background-link-hover : #F2F2F2;

/* ---------------- LIENS */
$color__link : #222426;
$color__link-hover : #CF59D3;
$color__link-visited : #222426;
/* ---------------- LIENS FOOTER */
$color__link__footer : #3674ED;
$color__link__footer-hover : #F2F2F2;
$color__link__footer-visited : #CF59D3;
/* ---------------- LIENS HEADER titre principal du site */

$color__link__header : #F2F2F2;
$color__link__header-hover : #F2F2F2;
$color__link__header-visited : #F2F2F2;

/* ---------------- FONT */
$color__font-header : rgb(250, 146, 146);
$color__font-main :rgb(235, 202, 193);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(255, 202, 188);