.site__footer {
    font-family: $font__titre;
    background-color: $color__background-footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

    svg {
      color: #F2F2F2;
      text-align: center;
    }

    .recherche {
      margin-bottom: 1rem;
    }

    
    a{ 
      display : flex;
      align-items: center;
      padding : 3px;
    }
  }

.footer__titre,
.footer__presentation,
.footer__author {
  color: $color__font-footer;
  text-align: center;
}

.site__footer__menu__ul ul {
  list-style-type: none;
  display : flex;
  justify-content: center
}
